<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Organizador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="organizador" lines="none">
    <img class="avatar_perfil" src="../../../assets/img/avatar_ejemplo.jpg">
    <ion-label text-wrap>
      <h1>{{organizador.nombre}}</h1>
      <ion-text color="myApp_color2">
        <h2>@{{organizador.login}}</h2>
        <hr>
        <h4>
          <ion-icon name="link"></ion-icon> Web: <a href="{{organizador.web}}">{{organizador.web}}</a>
        </h4>
        <h4>
          <ion-icon name="calendar"></ion-icon> Fecha de alta: {{organizador.fecha_alta}}
        </h4>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="organizador" lines="none">
    <ion-label text-wrap>
      <ion-text color="myApp_color6">
        <h4>
          <ion-icon name="book"></ion-icon> {{organizador.descripcion}}
        </h4>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-list-header color="myApp_color1">
      Eventos organizados:
    </ion-list-header>
    <ion-card *ngFor="let evento of eventos">
      <img src="../../../assets/img/concierto.jpg" />
      <ion-card-header>
        <ion-card-subtitle>
          <ion-text color="myApp_color3">
            Puntuación media: {{evento.valoracion_media}} <ion-icon name="star"></ion-icon>
          </ion-text>
        </ion-card-subtitle>
        <ion-card-title>Título: {{evento.titulo}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{evento.descripcion}}
      </ion-card-content>

      <ion-item lines="none" color="myApp_color1">
        <ion-chip routerLink="/categoria-eventos/{{evento.categoria}}">
          <ion-icon color="myApp_color3" name="pricetags"></ion-icon>
          <ion-label color="myApp_color3">{{evento.categoria}}</ion-label>
        </ion-chip>
        <ion-button fill="clear" size="small" color="myApp_color2" slot="end"
          routerLink="/evento-detalles/{{evento.id}}" routerDirection="forward">Ver más</ion-button>
      </ion-item>

    </ion-card>
  </ion-list>

</ion-content>