<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="titulo-app">EventsToYou</h1>

  <ion-segment (ionChange)="segmentoCambiado($event)" value="Miembro" color="myApp_color3">
    <ion-segment-button value="Miembro" checked>
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Organizador">
      <ion-icon name="glasses"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div class="align-center" *ngIf="foto"><img class="avatar_perfil" [src]="foto" /></div>

  <div class="ion-padding">
    <ion-button color="myApp_color3" expand="block" (click)="elegirImagen()">
      <ion-icon slot="start" name="add"></ion-icon>Elegir avatar
    </ion-button>
  </div>

  <form #formularioUsuario="ngForm">
    <ion-list>
      <ion-list-header>
        <ion-label *ngIf="segmento == 'Miembro'">
          <ion-text color="myApp_color6">Registrarse como miembro</ion-text>
        </ion-label>
        <ion-label *ngIf="segmento == 'Organizador'">
          <ion-text color="myApp_color6">Registrarse como organizador</ion-text>
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="stacked" color="primary">Login
          <ion-text [hidden]="login.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-input [(ngModel)]="usuario.login" name="login" type="text" #login="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Clave
          <ion-text [hidden]="clave.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-input [(ngModel)]="usuario.clave" name="clave" type="password" #clave="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Nombre
          <ion-text [hidden]="nombre.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-input [(ngModel)]="usuario.nombre" placeholder="Nombre de usuario" name="nombre" type="text"
          #nombre="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item *ngIf="segmento == 'Miembro'">
        <ion-label position="stacked" color="primary">Ubicación
          <ion-text [hidden]="ubicacion.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-input [(ngModel)]="usuario.ubicacion" placeholder="p.e: Jaén" name="ubicacion" type="text"
          #ubicacion="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item *ngIf="segmento == 'Miembro'">
        <ion-label position="stacked" color="primary">Biografía
          <ion-text [hidden]="biografia.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-textarea [(ngModel)]="usuario.biografia" placeholder="Biografía del miembro" name="biografia" type="text"
          #biografia="ngModel" required>
        </ion-textarea>
      </ion-item>

      <ion-item *ngIf="segmento == 'Organizador'">
        <ion-label position="stacked" color="primary">Web
          <ion-text [hidden]="web.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-input [(ngModel)]="usuario.web" placeholder="Web personal del organizador" name="web" type="text"
          #web="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item *ngIf="segmento == 'Organizador'">
        <ion-label position="stacked" color="primary">Descripción
          <ion-text [hidden]="descripcion.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-textarea [(ngModel)]="usuario.descripcion" placeholder="Descripción del organizador" name="descripcion"
          type="text" #descripcion="ngModel" required>
        </ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button *ngIf="segmento == 'Miembro'" (click)="registrarMiembro(formularioUsuario)" type="submit"
        expand="block">
        Registrarse</ion-button>
      <ion-button *ngIf="segmento == 'Organizador'" (click)="registrarOrganizador(formularioUsuario)" type="submit"
        expand="block">Registrarse</ion-button>
    </div>
  </form>

</ion-content>