<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Amigos
    </ion-title>
  </ion-toolbar>
  <ion-item lines="full">
    <ion-label>
      <ion-text color="myApp_color2">Estos son todos los miembros que sigues</ion-text>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let amigo of amigos">
      <ion-avatar routerLink="/miembro-detalles/{{amigo.login}}" slot="start">
        <img [src]="'data:image/JPEG;base64,' + amigo.avatar" />
      </ion-avatar>
      <ion-label text-wrap>
        {{amigo.nombre}}
      </ion-label>
      <ion-button (click)="dejarDeSeguirAMiembro(amigo)" slot="end" color="myApp_color4" fill="clear" size="small">
        <ion-icon color="danger" name="close-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>