.map-canvas {
    //position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 45%;
    width: 95%;

    background-color: transparent;

    opacity: 0;
    transition: opacity 150ms ease-in;
}

.show-map {
    opacity: 1;
}