<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="evento">
    <img src="../../../assets/img/concierto.jpg" />
    <ion-card-header>
      <ion-card-subtitle>id: {{evento.id}}</ion-card-subtitle>
      <ion-card-title>Título: {{evento.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div><strong>Descripción: </strong>{{evento.descripcion}}</div>
      <div><strong>Web: </strong>{{evento.web_entradas}}</div>
      <div><strong>Valoración media: </strong>{{evento.valoracion_media}}</div>
    </ion-card-content>
  </ion-card>

  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let sesion of sesiones">
      <ion-icon *ngIf="sesion != sesiones[0]" size="large" color="myApp_color1" name="arrow-dropleft"></ion-icon>
      <ion-card routerLink="/sesion-detalles/{{sesion.id_sesion}}">
        <ion-card-header>
          <ion-card-subtitle>id: {{sesion.id_sesion}} - {{sesion.ciudad}}</ion-card-subtitle>
          <ion-card-title>{{sesion.fecha}}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-icon *ngIf="sesion != sesiones[sesiones.length - 1]" size="large" color="myApp_color1" name="arrow-dropright"></ion-icon>
    </ion-slide>
  </ion-slides>

  <h1>VALORACIONES:</h1>

</ion-content>