<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Amigos
    </ion-title>
  </ion-toolbar>
  <ion-item lines="full">
    <ion-label>
      <ion-text color="myApp_color2">Estos son todos los miembros que sigues</ion-text>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item routerLink="/miembro-detalles/{{amigo.login}}" *ngFor="let amigo of amigos">
      <ion-avatar slot="start">
        <img [src]="'data:image/JPEG;base64,' + amigo.avatar" />
      </ion-avatar>
      <ion-label text-wrap>
        {{amigo.nombre}} - @{{amigo.login}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>