// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary - modified**/
  --ion-color-primary: #a41df2;
  --ion-color-primary-rgb: 164, 29, 242;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #901ad5;
  --ion-color-primary-tint: #ad34f3;


  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #1b101e;
  --ion-background-color-rgb: 27, 16, 30;
  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #826d8c;
  --ion-tab-bar-background: #311c38;
  --ion-tab-bar-border-color: #826d8c;
  --ion-tab-bar-color: #826d8c;
  --ion-tab-bar-color-activated: #a41df2;
  --ion-toolbar-background: #311c38;
  --ion-toolbar-border-color: #826d8c;
  --ion-toolbar-color: white;
  --ion-toolbar-color-activated: #a41df2;

  ion-card {
    --color: white;
    --background: #311c38;
  }

  ion-card-subtitle,
  ion-card-title {
    --color: white;
  }

  ion-alert {
    --background: #311c38 !important;
  }

  ion-searchbar {
    --color: white !important;
    --background: #311c38 !important;
    --clear-button-color: #a41df2;
    --icon-color: #b1a7b6;
  }

}

/** color 1 **/
.ion-color-myApp_color1 {
  --ion-color-base: #311c38;
  --ion-color-base-rgb: 49, 28, 56;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #2b1931;
  --ion-color-tint: #46334c;
}

/** color 2 **/
.ion-color-myApp_color2 {
  --ion-color-base: #826d8c;
  --ion-color-base-rgb: 130, 109, 140;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #72607b;
  --ion-color-tint: #8f7c98;
}

/** color 3 **/
.ion-color-myApp_color3 {
  --ion-color-base: #a41df2;
  --ion-color-base-rgb: 164, 29, 242;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #901ad5;
  --ion-color-tint: #ad34f3;
}

/** color 4 **/
.ion-color-myApp_color4 {
  --ion-color-base: #27152B;
  --ion-color-base-rgb: 39, 21, 43;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #221226;
  --ion-color-tint: #3d2c40;
}

/** color 5 **/
.ion-color-myApp_color5 {
  --ion-color-base: #1b101e;
  --ion-color-base-rgb: 27, 16, 30;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #180e1a;
  --ion-color-tint: #322835;
}

/** color 6 **/
.ion-color-myApp_color6 {
  --ion-color-base: #b1a7b6;
  --ion-color-base-rgb: 130, 109, 140;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #9c93a0;
  --ion-color-tint: #b9b0bd;
}