.alert-radio-label {
    color: white !important;
}

ion-label {
    color: #a41df2 !important;
    font-weight: bold !important;
}

.align-center {
    align-content: center !important;
    text-align: center !important;
}

.titulo-app {
    text-align: center;
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 30px;
}