<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="evento">
  <ion-card>
    <img [src]="'data:image/JPEG;base64,' + evento.imagen" />
    <ion-card-header>
      <ion-card-subtitle class="align-right">
        <ion-text color="myApp_color2">Organizado por <a
            routerLink="/organizador-detalles/{{evento.login_organizador}}">{{evento.nombre_organizador}}</a></ion-text>
      </ion-card-subtitle>
      <ion-card-title>Título: {{evento.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        Puntuación media:
        <ion-text color="myApp_color3">
          <ion-icon name="star"></ion-icon>{{evento.valoracion_media}}
        </ion-text>
      </div>
      <div>Web: <a href="">{{evento.web_entradas}}</a></div>
      <div>{{evento.descripcion}}</div>

    </ion-card-content>

    <ion-item lines="none" color="myApp_color1">
      <ion-chip routerLink="/categoria-eventos/{{evento.categoria}}">
        <ion-icon color="myApp_color3" name="pricetags"></ion-icon>
        <ion-label color="myApp_color3">{{evento.categoria}}</ion-label>
      </ion-chip>
      <ion-button (click)="guardarEvento()" color="danger" size="small" slot="end">Guardar 
        <ion-icon color="light" name="heart"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-card>

  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let sesion of sesiones">
      <ion-icon *ngIf="sesion != sesiones[0]" size="large" color="myApp_color1" name="arrow-dropleft"></ion-icon>
      <ion-card routerLink="/evento-detalles/{{evento.id}}/sesion-detalles/{{sesion.id_sesion}}">
        <ion-card-header>
          <ion-card-title>{{sesion.fechaString}}</ion-card-title>
          <ion-card-subtitle color="myApp_color3">
            <ion-icon name="pin"></ion-icon> {{sesion.ciudad}}
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-icon *ngIf="sesion != sesiones[sesiones.length - 1]" size="large" color="myApp_color1"
        name="arrow-dropright"></ion-icon>
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-list-header color="myApp_color1">
      Valoraciones
    </ion-list-header>

    <form *ngIf="!eventoYaValorado" #formularioValoracion="ngForm">
      <ion-item color="myApp_color4" lines="none">
        <ion-label text-wrap>
          <ion-text>
            <h2>
              <ion-icon name="star"></ion-icon> Tu valoración
            </h2>
          </ion-text>
        </ion-label>
        <ion-button (click)="onGuardarValoracion(formularioValoracion)" type="submit" color="myApp_color3" slot="end">
          Enviar</ion-button>
      </ion-item>


      <ion-item color="myApp_color4" lines="none">
        <ion-label position="stacked" color="primary">Puntuacion
          <ion-text [hidden]="puntuacion.valid || submitted == false" color="danger">
            *
          </ion-text>
        </ion-label>
        <ion-select [(ngModel)]="valoracion_miembro.puntuacion" name="puntuacion" cancelText="Atrás" okText="Aceptar"
          #puntuacion="ngModel" required>
          <ion-select-option *ngFor="let valor of valor_puntuaciones" value="{{valor}}">{{valor}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="myApp_color4" lines="none">
        <ion-label position="stacked" color="primary">Comentario
          <ion-text [hidden]="comentario.valid || submitted == false" color="danger">
            *Campo obligatorio
          </ion-text>
        </ion-label>
        <ion-textarea [(ngModel)]="valoracion_miembro.comentario" name="comentario" type="text"
          placeholder="Descripción de evento" #comentario="ngModel" required>
        </ion-textarea>
      </ion-item>

    </form>

    <ion-item *ngFor="let valoracion of valoraciones" lines="full">
      <ion-label text-wrap>

        <ion-text color="myApp_color2"><small>{{valoracion.fechaString}}</small></ion-text>

        <ion-text color="myApp_color3" class="align-right">
          <h2>
            <strong>
              <ion-icon color="myApp_color3" name="star"></ion-icon> {{valoracion.puntuacion}}
            </strong>
          </h2>
        </ion-text>

        <ion-text color="myApp_color3">
          <a routerLink="/miembro-detalles/{{valoracion.login_miembro}}">{{valoracion.nombre_miembro}}</a>:
        </ion-text>

        <ion-text color="white">
          "{{valoracion.comentario}}"
        </ion-text>

        <div *ngIf="valoracion.login_miembro == login_actual_miembro" class="align-right">
          <ion-button (click)="onEliminarValoracion(valoracion)" color="danger" fill="outline" shape="round"
            size="small">Eliminar</ion-button>
        </div>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>