<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button defaultHref="/miembros"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categorias
    </ion-title>
    <ion-button fill="clear" slot="end" routerLink="/miembros/busquedas">
      <ion-icon slot="icon-only" color="myApp_color2" name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let categoria of categorias" routerLink="/miembros/categoria-eventos/{{categoria}}">
    <ion-label color="myApp_color6">
      {{categoria}}
    </ion-label>
  </ion-item>

</ion-content>